<h2>Enviar Remesa</h2>
<form action="/remittance/create" method="POST" id="new_remittance">
	<label for="quantity">Cantidad</label>
	<input type="text" id="quantity" name="quantity">

	<label for="destination">Destino</label>
	<select name="destination" id="destination">
		<option value="0">Selecciona el Destino</option>
		<option value="Honduras">Honduras</option>
	</select>
	
	<ul class="current_services"></ul>

	<ul class="new_services" style="display: none;"></ul>
	<ul class="new_banks"></ul>

	<button id="new_service" style="display: none" class="btn">Nuevo Servicio</button>
	<button id="new_deposit" style="display: none" class="btn">Nuevo Depósito</button>
	<footer>
		<input type="submit" value="Enviar" class="btn btn-green btn-large">
	</footer>
</form>