<h2>Enviar Remesa</h2>
<form action="/remittance/create" method="POST" id="new_remittance">
	<% if(flash && flash.err) { %>
		<p>Los siguientes errores surgieron: </p>
		<ul class="errors">
			<% Object.keys(flash.err).forEach(function(error){%>
				<li> <%= flash.err[error].message %></li>
			<%})%>
		</ul>
	<% } %>
	
	<label for="destination">Destino</label>
	<select name="destination" id="destination">
		<option value="0">Selecciona el Destino</option>
		<option value="Honduras">Honduras</option>
	</select>
	
	<ul class="current_services"></ul>

	<ul class="new_services" style="display: none;"></ul>
	<ul class="new_banks"></ul>

	<button id="new_service" style="display: none" class="btn">Nuevo Servicio</button>
	<button id="new_deposit" style="display: none" class="btn">Nuevo Depósito</button>

	<div class="total_final">
		Total............ $<span class="total">0.00</span>
	</div>

	<footer>
		<input type="submit" value="Enviar" class="btn btn-green btn-large">
	</footer>
</form>