<form action="/session/create" method="POST" class="form-signin">
	<h2 class="form-signin-heading">Please sign in...</h2>
	<% if(flash && flash.err){%>
		<ul>
			<% Object.keys(flash.err).forEach(function(error){%>
				<li><%- flash.err[0].message %></li>
			<%})%>
		</ul>
	<%}%>

	<input type="text" placeholder="Email address" name="email">
	<input type="password" placeholder="Password" name="password">
	<input type="submit" value="Sign-in"/>
</form>