<div id="main">
    <h2>Configuración</h2>
    <ul>
        <li><a href="#">Opción 01</a></li>
        <li><a href="#">Opción 02</a></li>
        <li><a href="#">Opción 03</a></li>
        <li><a href="#">Opción 04</a></li>
        <li><a href="#">Opción 05</a></li>
        <li><a href="#">Opción 06</a></li>
        <li><a href="#">Opción 07</a></li>
        <li><a href="#">Opción 08</a></li>
        <li><a href="#">Opción 09</a></li>
        <li><a href="#">Opción 10</a></li>
    </ul>
</div>