<div>
	<h1>Agregar Nueva Tarjeta</h1>
</div>


<form action="/card/create" method="post">	
	<div>
		<label>Nombre:</label>
		<input type="text" name="owner_name" id="owner_name"></input>
	</div>
	<div>
		<label>Fecha de Expiración:</label>
		<input type="month" name="expiration_date_month" id="expiration_date_month"></input>
		<input type="month" name="expiration_date_year" id="expiration_date_year"></input>
	</div>
	<div>
		<label>Número de la Tarjeta:</label>
		<input type="text" name="card_number" id="card_number"></input>
	</div>
	<div>
		<label>Código de Seguridad:</label>
		<input type="text" name="card_security_code" id="card_security_code"></input>
	</div>
		
		<h2>Dirección de Recibo</h2>
	<div>
		<label>País:</label>
		<input type="text" name="billing_country" id="billing_country"></input>
	</div>
	<div>
		<label>Calle:</label>
		<input type="text" name="billing_street" id="billing_street"></input>
	</div>
	<div>
		<label>Ciudad:</label>
		<input type="text" name="billing_city" id="billing_city"></input>
	</div>
	<div>
		<label>Provincia:</label>
		<input type="text" name="billing_province" id="billing_province"></input>
	</div>
	<div>
		<label>Código Postal:</label>
		<input type="text" name="postal_code" id="postal_code"></input>
	</div>
	<div>
		<label>Telfono:</label>
		<input type="tel" name="phone_number" id="phone_number"></input>
	</div>
		<button type="submit">Guardar</button>

	</div>
</form>