<h1>Sign Up form</h1>

<form class='form-signup' action="/user/create" method="post">
	<% if(flash && flash.err){ %>
		<ul>
		<% Object.keys(flash.err).forEach(function(error){%>
			<li> <%= JSON.stringify(flash.err[error])%></li>
		<%})%>
		</ul>
	<%}%>
	<div>
		<label>First Name:</label>
		<input type="text" id="firstName" name="firstName"/><br/>
	</div>
	<div>
		<label>Last Name:</label>
		<input type="text" id="lastName" name="lastName"/><br/>
	</div>
	<div>
		<label>Email:</label>
		<input type="text" id="emailAddress" name="emailAddress"/><br/>
	</div>
	<div>
		<label>Username:</label>
		<input type="text" id="username" name="username"/><br/>
	</div>
	<div>
		<label>Password:</label>
		<input type="password" id="password_hash" name="password_hash"/><br/>
	</div>
	<div>
		<label>Confirm Password:</label>
		<input type="password" id="password_hash_confirmation" name="password_hash_confirmation"/><br/>
	</div>
	<div>
		<label>Birthdate:</label>
		<input type="date" id="birthDate" name="birthDate"/><br/>
	</div>
	<div>
		<label>Phone number:</label>
		<input type="text" id="phoneNumber" name="phoneNumber"/><br/>
	</div>


	<input type="submit" value="Submit"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>