<% if(session.authenticated){ %>
<script>
	location.assign('/dashboard');    
</script>
<% } else { %>
<div class="logo-animation"></div>      

<div class="main-content">
  <hgroup>
      <h1>Remesa.me</h1>
      <h3>Paga y Ahorra</h3>
  </hgroup>

  <p>
    Remesa.me te permite administrar tus remesas!
    Contamos con una amplia gama de servicios que puedes pagar desde la comunidad de tu hogar, desde tu celular y/o cualquier otro dispositivo con una conexión a internet. Puedes mantener total control sobre qué hacer con tu dinero y como distribuirlo, ya sea para pagar gastos de servicios públicos, mensualidades o simplemente para ahorrar. Es fácil, barato, rápido y sencillo.

    </p>

<div class="buttons-cont">
    <a href="#" class="btn btn-green">Lee más</a>
    <a href="/session/new" class="btn btn-blue">Inicia Sesión</a>
    <span>Si aún no tienes una cuenta, intenta <a href="/user/new">Registrarte</a></span>
</div>
</div>
<% } %>
