@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

@yellow: #FFE142;
@green: #A6DD00;
@blue: #0FB9FF;
@purple: #7C30E8;
@red: rgb(255, 93, 96);
@brown: #441C10;

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background: #fafafa;
	color: #333;
	padding: 0;
	margin: 0;
}

.container {
	margin: 2em auto;
	width: 75%;

	h2 {
		font-weight: 300;
		border-bottom: 1px solid #EEE;
	}
	
	header.dashboard {
		h2 {
			display: inline-block;
			border-bottom: none;
		}

		p {
			display: inline-block;
			float: right;
			background: #E9E9E9;
			padding: 1em;
			border-radius: 3px;
		}
	}

	.pending-transactions {
		h3 {
			border-bottom: 1px solid #dfdfdf;
		}

		table {
			width: 70%;
			margin: 0 auto;
		}

		thead {
			background: #eee;

			th {
				margin: 0;
				border: none;
				text-align: left;
			}
		}

		.Procesado {
			color: @green;
		}

		.Retrasado {
			color: @red;
		}
	}

}

header#top {
	background: white;
	padding: 1em 4em;
	border-bottom: 1px solid #eee;

	h1, nav {
		display: inline-block;
		vertical-align: middle;
	}

	h1 {
		width: 66%;
		margin: 0;

		a {
			color: #444;

			&:hover {
				text-decoration: none;
			}
		}

		img {
			display: inline-block;
			margin: 0 1em;
			max-width: 100px;
			vertical-align: middle;
		}
	}

	nav {
		text-align: right;
		width: 33%;
	}

	a {
		font-size: 1.1em;
		text-decoration: none;
		color: @red;

		&:hover {
			text-decoration: underline;
		}
	}
	
	nav li {
		display: inline;
		margin: 0 0.5em;
	}
}

footer {
	background: #05222E;
	color: #FFF;
	line-height: 35px;
	min-height: 35px;
	padding: 0 4em;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;

	p {
		display: inline-block;
		width: 47%;

		&.block-right {
			text-align: right;
		}

		a {
			color: white;
			margin: 0 0.3em;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

form {
	label {
		display: block;
	}

	input[type=text] {
		padding: 0.5em;
		border-radius: 1px;
		border: 1px solid #ccc;
		min-width: 100px;
		margin-bottom: 1em;
	}

	li {
		background: #E9E9E9;
		margin-bottom: 1em;
		padding: 1em;
		width: 60%;
		min-height: 100px;
		border: 1px solid #CCC;
	}

}

#new_remittance li {
	list-style: none;

	img {
		display: inline-block;
	}

	h3 {
		margin: 0;
		vertical-align: top;
	}

	div {
		display: inline-block;
		vertical-align: top;
		margin-left: 1em;
	}
}

.new_services {
	border-top: 7px solid #DDD;
	margin-top: 1em;
	padding-top: 1em;
}

.btn {
	padding: 0.3em 0.5em;
	background: @blue;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	border-bottom: 3px solid darken(@blue, 10%);
	margin: 0.1em;

	&.btn-left {
		margin-right: 0;
		border-radius: 3px 0 0 3px;
	}

	&.btn-right {
		margin-left: 0;
		border-radius: 0 3px 3px 0;
	}

	&.btn-red {
		background: @red;
		border-bottom: 3px solid darken(@red, 10%);
	}

	&:hover {
		position: relative;
		top: 1px;
		border-bottom-width: 2px;
	}

	&:active {
		top: 3px;
		border-bottom-width: 0;	
	}
}